@tailwind base;
@tailwind components;
@tailwind utilities;

.red_s {
  color: red !important;
}

.rale {
  font-family:'Raleway', sans-serif !important;
}
.lato {
  font-family: 'Lato', sans-serif !important;
}

@layer utilities {
  .height_main {
    height: 620px;
  }
}